:root {
    --branco-principal:#000000;
    --cinza-secundario:#C0C0C0C0;
    --botao-azul: #0ca202;
    --cor-de-fundo: #016436;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: red;
    --botao-branco: white;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}
* {
    margin: 25px;
    padding: 0;
}

.principal{
    background-image: url(imagens/palmeiras.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 20px;
    color: var(--botao-branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}